.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:whitesmoke;
    padding: 1rem;
    margin: 15px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
  }
  .navbar-left .logo:hover {
    color: #0056b3;
  }
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right .cart-icon,
  .navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-right .cart-count {
    background-color:#007bff;
    color:white ;
    padding: 10px 20px;
    font-size: 0.9rem;
    position: absolute;
    top: -1.25rem;
    right: -0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }